// Indicators

// Base styles
.indicator {

  display: inline-block;
  margin-bottom: 0; // For input.btn
  border-radius:  $indicator-border-radius;
  border-color:   $indicator-border-color;
  border-style:   $indicator-border-style;

}

.indicator-sm {
  width:         $indicator-width;
  height:        $indicator-height;
  border-width:  $indicator-border-width;
}

.indicator-md {
  width:         $indicator-width*2;
  height:        $indicator-height*2;
  border-width:  $indicator-border-width*1.5;
}

.indicator-lg {
  width:         $indicator-width*3;
  height:        $indicator-height*3;
  border-width:  $indicator-border-width*2;
}

.indicator-success {
  border-color: $c-success;
}

.indicator-attention {
  border-color: $c-attention;
}

.indicator-info {
  border-color: $c-info-dark;
}

.indicator-failure {
  border-color: $c-danger-darker;
}

.indicator-fatal {
  border-color: $c-gray-darker;
}

.indicator-active {
  border-style: dotted;
  @include vendor-prefix(animation, rotateIndicator ease-in-out 1.0s);
  @include vendor-prefix(animation-iteration-count, infinite);
  @include vendor-prefix(transform-origin, 50% 50%);
  @include vendor-prefix(animation-fill-mode, forwards);
}
