---
---

@import "harrow";

.assets-table {
  td {
    padding: $padding-large-vertical $padding-base-horizontal;
    img {
      &:hover {
        outline: 2px dotted $c-danger;
      }
    }
  }
}

.styleguide-nav {
  position: fixed;
  top: 0;
  left: 900px;
  width: 250px;
}

.styleguide-wrap {
  width: 900px;
  margin-left: 0;
  margin-right: 0;
}

.main-section {
  margin-bottom: 80px;
}

.section-header {
  margin: 20px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid $c-gray-lighter;
  font-size: 24px;
}

.sub-section-header {
  margin: 20px 0 10px;
  font-size: 20px;
}

// Example block
.prism-example {
  position: relative;
  border: 1px solid $c-gray-light;
  border-radius: 3px;
  margin-bottom: 45px;
  &:after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: $font-size-small;
    font-weight: 500;
    color: $c-gray-light;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
  }
  .example-content {
    padding: 55px 15px 30px 15px;
  }
  .example-code {
    padding: 10px 15px;
    border-top: 1px solid $c-gray-light;
    background-color: $c-gray-lighter;
    pre {
      // Stop syntax highlighting from adding padding/margin
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  &.headers {
    h1,h2,h3,h4,h5 { margin: 14px 0; }
  }

  &.span {
    span {
      padding-right: 40px;
    }
  }
}

@mixin swatch-color($background-color) {
  background-color: $background-color;
  code:before {
    display: block;
    width: 100%;
    margin-bottom: $padding-large-vertical;
    font-family: monospace;
    content: $background-color + '\A';
  }
}

// Colors
.colors-section {
  @include clearfix;
  .colors-col {
    width: 20%;
    float: left;
  }
  &.grays .colors-col {
    width: 20%;
  }
  .swatch {
    height: 100px;
    color: #fff;
    padding: 15px;

    &.primary-darker   { @include swatch-color($c-primary-darker);   }
    &.primary-dark     { @include swatch-color($c-primary-dark);     }
    &.primary          { @include swatch-color($c-primary);          }
    &.primary-light    { @include swatch-color($c-primary-light);    }

    &.success-darker   { @include swatch-color($c-success-darker);   }
    &.success-dark     { @include swatch-color($c-success-dark);     }
    &.success          { @include swatch-color($c-success);          }
    &.success-light    { @include swatch-color($c-success-light);    }

    &.attention-darker { @include swatch-color($c-attention-darker); }
    &.attention-dark   { @include swatch-color($c-attention-dark);   }
    &.attention        { @include swatch-color($c-attention);        }
    &.attention-light  { @include swatch-color($c-attention-light);  }

    &.info-darker      { @include swatch-color($c-info-darker);      }
    &.info-dark        { @include swatch-color($c-info-dark);        }
    &.info             { @include swatch-color($c-info);             }
    &.info-light       { @include swatch-color($c-info-light);       }

    &.danger-darker    { @include swatch-color($c-danger-darker);    }
    &.danger-dark      { @include swatch-color($c-danger-dark);      }
    &.danger           { @include swatch-color($c-danger);           }
    &.danger-light     { @include swatch-color($c-danger-light);     }

    &.gray-darker      { @include swatch-color($c-gray-darker);      }
    &.gray-dark        { @include swatch-color($c-gray-dark);        }
    &.gray             { @include swatch-color($c-gray);             }
    &.gray-light       { @include swatch-color($c-gray-light);       }
    &.gray-lighter     { @include swatch-color($c-gray-lighter);     }
  }
}

.icons-section {
  .icon-list-wrap {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .icon-list-item {
    width: 25%;
    height: 125px;
    float: left;
    padding: 15px;
    text-align: center;
    background-color: $c-gray-lighter;
    border: 1px solid #fff;
    h5 {
      margin-top: 10px;
      margin-bottom: 20px;
    }
    > div {
      margin: auto;
    }
  }
}

.jobwidget-section .example-content {
  background-color: $c-gray-lighter;
}

.btn {
  margin-right: 10px;
}

