---
---

@import "harrow";

header {
  margin-top: $padding-large-vertical;
  margin-bottom: $padding-large-vertical - 5; // weird padding on logo
  nav {
    ul {
      padding-left: 0;
      margin-top: $padding-base-vertical;
      list-style-type: none;
      li {
        display: inline-block;
        width: 100px;
        a {
          color: $c-gray-dark;
          &, &.btn {
            font-weight: bolder;
          }
        }
      }
    }
  }
}

footer {
  padding-top: $padding-large-vertical;
  background-color: $c-gray-darker;
  min-height: 180px;
  color: #fff;
  a {
    color: $c-gray-light;
    &:hover {
      color: $c-gray-lighter;
    }
  }
}

section.block-section {
  padding-top: $padding-large-vertical * 3;
  padding-bottom: $padding-large-vertical * 3;
  @each $h in h1, h2, h3, h4, h5, h6 {
    & > #{$h} {
      margin-bottom: $padding-large-vertical * 2;
    }
  }
  &#introduction {
    min-height: 330px;
    background-color: #9E93A1;
    color: #fff;
  }
  &#cli-super-powers {
  }
  &#use-cases {
    background-color: $c-gray-lighter;
    #unit-and-integration-tests, #build-and-deploy, #operations {
      a {
        color: #fff;
      }
      padding: $padding-large-vertical * 2 $padding-large-horizontal;
      border-radius: $padding-base-vertical;
    }
    #unit-and-integration-tests {
      background-color: $c-solarized-blue;
    }
    #build-and-deploy {
      background-color: $c-solarized-green;
    }
    #operations {
      background-color: $c-solarized-cyan;
    }
  }
  &#feels-like-home {
    background-color: #907B94;
    color: #fff;
    img {
      padding: $padding-large-vertical * 2 $padding-large-horizontal;
    }
  }
  &#value-proposition {
    background-color: #E7F0FA;
  }
}
