ul.operation-list, ul.operation-list {
  margin: 0;
  padding: 0;
  li.operation-list-operation {
    list-style-type: none;
    max-width: 350px;
    display: inline-block;
    padding: $padding-base-vertical * 2 $padding-base-horizontal;
  }
}
