.icon-logo-c-primary-darker-transparent-bg { background-image: url('png/logo-c-primary-darker-transparent-bg.png'); background-repeat: no-repeat; }

.icon-logo-c-primary-darker-with-logotype-c-gray-darker { background-image: url('png/logo-c-primary-darker-with-logotype-c-gray-darker.png'); background-repeat: no-repeat; }

.icon-logotype-c-gray-darker-transparent-bg { background-image: url('png/logotype-c-gray-darker-transparent-bg.png'); background-repeat: no-repeat; }

